@model VMANpizza.Models.ViewModel.OrderPizza

@{
    ViewData["Title"] = "Create";
}

<head>
</head>

<h4>My Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="clear:left" class="form-group">
                <input asp-for="PriceSbac" id="priceBacS" type="hidden" />
                <input asp-for="PriceMbac" id="priceBacM" type="hidden" />
                <input asp-for="PriceLbac" id="priceBacL" type="hidden" />
                @if (@Model.QtySbac != 0 || @Model.QtyMbac != 0 || @Model.QtyLbac != 0)
                {
                    <input asp-for="QtySbac" type="hidden" id="BacS" class="form-control" />
                    <input asp-for="QtyMbac" type="hidden" id="BacM" class="form-control" />
                    <input asp-for="QtyLbac" type="hidden" id="BacL" class="form-control" />
                    <div>
                        <img style="float: left; padding:-5px; margin-right:15px; margin-bottom:10px; border:2px solid green; clear:left" src="~/Images/Margherita-500x500.jpg" onclick="UpdatePrice();">
                        <h4>Bacon </h4>
                        @if (@Model.QtySbac != 0)
                        {
                            <p>- @Model.QtySbac Small: $2/each </p>
                        }
                        @if (@Model.QtyMbac != 0)
                        {
                            <p>- @Model.QtyMbac Med: $5/each </p>
                        }
                        @if (@Model.QtyLbac != 0)
                        {
                            <p>- @Model.QtyLbac Large: $7/each </p>
                        }
                    </div>
                }
            </div>

            <div style="clear:left" class="form-group">
                <input asp-for="PriceSsal" id="priceBacS" type="hidden" />
                <input asp-for="PriceMsal" id="priceBacM" type="hidden" />
                <input asp-for="PriceLsal" id="priceBacL" type="hidden" />
                @if (@Model.QtySsal != 0 || @Model.QtyMsal != 0 || @Model.QtyLsal != 0)
                {
                    <input asp-for="QtySsal" type="hidden" id="SalS" class="form-control" />
                    <input asp-for="QtyMsal" type="hidden" id="SalM" class="form-control" />
                    <input asp-for="QtyLsal" type="hidden" id="SalL" class="form-control" />
                    <div>
                        <img style="float: left; padding:-5px; margin-right:15px; margin-bottom:10px; border:2px solid green; clear:left" src="~/Images/Buffalo-Chicken-300x300.jpg">
                        <h4>Salami </h4>
                        @if (@Model.QtySsal != 0)
                        {
                            <p>- @Model.QtySsal Small: $3/each </p>
                        }
                        @if (@Model.QtyMsal != 0)
                        {
                            <p>- @Model.QtyMsal Med: $6/each </p>
                        }
                        @if (@Model.QtyLsal != 0)
                        {
                            <p>- @Model.QtyLsal Large: $8/each </p>
                        }
                    </div>
                }
            </div>
            <div style="clear:left" class="form-group">
                <input asp-for="PriceSpep" id="priceBacS" type="hidden" />
                <input asp-for="PriceMpep" id="priceBacM" type="hidden" />
                <input asp-for="PriceLpep" id="priceBacL" type="hidden" />
                @if (@Model.QtySpep != 0 || @Model.QtyMpep != 0 || @Model.QtyLpep != 0)
                {
                    <input asp-for="QtySpep" type="hidden" id="PepS" class="form-control" />
                    <input asp-for="QtyMpep" type="hidden" id="PepM" class="form-control" />
                    <input asp-for="QtyLpep" type="hidden" id="PepL" class="form-control" />
                    <div>
                        <img style="float: left; padding:-5px; margin-right:15px; margin-bottom:10px; border:2px solid green; clear:left" src="~/Images/Wild-Mushroom-500x500.jpg">
                        <h4>Pepperoni </h4>
                        @if (@Model.QtySpep != 0)
                        {
                            <p>- @Model.QtySpep Small: $2/each </p>
                        }
                        @if (@Model.QtyMpep != 0)
                        {
                            <p>- @Model.QtyMpep Med: $5/each </p>
                        }
                        @if (@Model.QtyLpep != 0)
                        {
                            <p>- @Model.QtyLpep Large: $7/each </p>
                        }
                    </div>
                }
            </div>
            <div style="clear:left" class="form-group">
                <input asp-for="PriceSmus" id="priceBacS" type="hidden" />
                <input asp-for="PriceMmus" id="priceBacM" type="hidden" />
                <input asp-for="PriceLmus" id="priceBacL" type="hidden" />
                @if (@Model.QtySmus != 0 || @Model.QtyMmus != 0 || @Model.QtyLmus != 0)
                {
                    <input asp-for="QtySmus" type="hidden" id="MusS" class="form-control" />
                    <input asp-for="QtyMmus" type="hidden" id="MusM" class="form-control" />
                    <input asp-for="QtyLmus" type="hidden" id="MusL" class="form-control" />
                    <div>
                        <img style="float: left; padding:-5px; margin-right:15px; margin-bottom:10px; border:2px solid green; clear:left" src="~/Images/mushroom.jpg">
                        <h4>Mushroom </h4>
                        @if (@Model.QtySmus != 0)
                        {
                            <p>- @Model.QtySmus Small: $2/each </p>
                        }
                        @if (@Model.QtyMmus != 0)
                        {
                            <p>- @Model.QtyMmus Med: $4/each </p>
                        }
                        @if (@Model.QtyLmus != 0)
                        {
                            <p>- @Model.QtyLmus Large: $6/each </p>
                        }
                    </div>
                }
            </div>
            <div style="clear:left" class="form-group">
                <input asp-for="PriceSche" id="priceBacS" type="hidden" />
                <input asp-for="PriceMche" id="priceBacM" type="hidden" />
                <input asp-for="PriceLche" id="priceBacL" type="hidden" />
                @if (@Model.QtySche != 0 || @Model.QtyMche != 0 || @Model.QtyLche != 0)
                {
                    <input asp-for="QtySche" type="hidden" id="CheS" class="form-control" />
                    <input asp-for="QtyMche" type="hidden" id="CheM" class="form-control" />
                    <input asp-for="QtyLche" type="hidden" id="CheL" class="form-control" />
                    <div>
                        <img style="float: left; padding:-5px; margin-right:15px; margin-bottom:10px; border:2px solid green; clear:left"
                             src="~/Images/pepperoni pizza-800x800.png">
                        <h4>Cheese </h4>
                        @if (@Model.QtySche != 0)
                        {
                            <p>- @Model.QtySche Small: $2/each </p>
                        }
                        @if (@Model.QtyMche != 0)
                        {
                            <p>- @Model.QtyMche Med: $5/each </p>
                        }
                        @if (@Model.QtyLche != 0)
                        {
                            <p>- @Model.QtyLche Large: $7/each </p>
                        }
                    </div>
                }
            </div>
            <div style="clear:left" class="form-group">
                <input asp-for="PriceSchk" id="priceBacS" type="hidden" />
                <input asp-for="PriceMchk" id="priceBacM" type="hidden" />
                <input asp-for="PriceLchk" id="priceBacL" type="hidden" />
                @if (@Model.QtySchk != 0 || @Model.QtyMchk != 0 || @Model.QtyLchk != 0)
                {
                    <input asp-for="QtySchk" type="hidden" id="ChkS" class="form-control" />
                    <input asp-for="QtyMchk" type="hidden" id="ChkM" class="form-control" />
                    <input asp-for="QtyLchk" type="hidden" id="ChkL" class="form-control" />
                    <div>
                        <img style="float: left; padding:-5px; margin-right:15px; margin-bottom:10px; border:2px solid green; clear:left"
                             src="~/Images/original_bocce.jpg">
                        <h4>Chicken </h4>
                        @if (@Model.QtySchk != 0)
                        {
                            <p>- @Model.QtySchk Small: $2/each </p>
                        }
                        @if (@Model.QtyMchk != 0)
                        {
                            <p>- @Model.QtyMchk Med: $5/each </p>
                        }
                        @if (@Model.QtyLchk != 0)
                        {
                            <p>- @Model.QtyLchk Large: $7/each </p>
                        }
                    </div>
                }
            </div>
            <div class="form-group">
                <input asp-for="pizzaTypeBac" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="pizzaTypeSal" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="pizzaTypePep" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="pizzaTypeMus" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="pizzaTypeChe" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="pizzaTypeChk" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="customerId" type="hidden" class="form-control" />
            </div>

            <div style="clear: left;" class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalPrice" class="control-label"></label>
                <input asp-for="totalPrice" id="totP" class="form-control" readonly />
                <span asp-validation-for="totalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Save to the Cart</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function UpdatePrice() {
        var MusS = parseFloat(+document.getElementById("MusS").value);
        var MusM = parseFloat(+document.getElementById("MusM").value);
        var MusL = parseFloat(+document.getElementById("MusL").value);
        var SalS = parseFloat(+document.getElementById("SalS").value);
        var SalM = parseFloat(+document.getElementById("SalM").value);
        var SalL = parseFloat(+document.getElementById("SalL").value);
        var PepS = parseFloat(+document.getElementById("PepS").value);
        var PepM = parseFloat(+document.getElementById("PepM").value);
        var PepL = parseFloat(+document.getElementById("PepL").value);
        var BacS = parseFloat(+document.getElementById("BacS").value);
        var BacM = parseFloat(+document.getElementById("BacM").value);
        var BacL = parseFloat(+document.getElementById("BacL").value);
        var CheS = parseFloat(+document.getElementById("CheS").value);
        var CheM = parseFloat(+document.getElementById("CheM").value);
        var CheL = parseFloat(+document.getElementById("CheL").value);
        var ChkS = parseFloat(+document.getElementById("ChkS").value);
        var ChkM = parseFloat(+document.getElementById("ChkM").value);
        var ChkL = parseFloat(+document.getElementById("ChkL").value);

        console.log('UpdatePrice()');

        document.getElementById("totP").value = ((MusS * 2) + (MusM * 4) + (MusL * 6)) + ((BacS * 2) + (BacM * 5) + (BacL * 7)) + ((PepS * 2) + (PepM * 5) + (PepL * 7)) + ((SalS * 3) + (SalM * 6) + (SalL * 8)) + ((CheS * 2) + (CheM * 4) + (CheL * 6)) + ((ChkS * 2) + (ChkM * 4) + (ChkL * 6));
    }

    window.onload = UpdatePrice();

</script>



@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="QtySbac" class="control-label"></label>
                    <input asp-for="QtySbac" class="form-control" />
                    <span asp-validation-for="QtySbac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyMbac" class="control-label"></label>
                    <input asp-for="QtyMbac" class="form-control" />
                    <span asp-validation-for="QtyMbac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyLbac" class="control-label"></label>
                    <input asp-for="QtyLbac" class="form-control" />
                    <span asp-validation-for="QtyLbac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtySsal" class="control-label"></label>
                    <input asp-for="QtySsal" class="form-control" />
                    <span asp-validation-for="QtySsal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyMsal" class="control-label"></label>
                    <input asp-for="QtyMsal" class="form-control" />
                    <span asp-validation-for="QtyMsal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyLsal" class="control-label"></label>
                    <input asp-for="QtyLsal" class="form-control" />
                    <span asp-validation-for="QtyLsal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtySpep" class="control-label"></label>
                    <input asp-for="QtySpep" class="form-control" />
                    <span asp-validation-for="QtySpep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyMpep" class="control-label"></label>
                    <input asp-for="QtyMpep" class="form-control" />
                    <span asp-validation-for="QtyMpep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyLpep" class="control-label"></label>
                    <input asp-for="QtyLpep" class="form-control" />
                    <span asp-validation-for="QtyLpep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtySmus" class="control-label"></label>
                    <input asp-for="QtySmus" class="form-control" />
                    <span asp-validation-for="QtySmus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyMmus" class="control-label"></label>
                    <input asp-for="QtyMmus" class="form-control" />
                    <span asp-validation-for="QtyMmus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyLmus" class="control-label"></label>
                    <input asp-for="QtyLmus" class="form-control" />
                    <span asp-validation-for="QtyLmus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtySche" class="control-label"></label>
                    <input asp-for="QtySche" class="form-control" />
                    <span asp-validation-for="QtySche" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyMche" class="control-label"></label>
                    <input asp-for="QtyMche" class="form-control" />
                    <span asp-validation-for="QtyMche" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyLche" class="control-label"></label>
                    <input asp-for="QtyLche" class="form-control" />
                    <span asp-validation-for="QtyLche" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtySchk" class="control-label"></label>
                    <input asp-for="QtySchk" class="form-control" />
                    <span asp-validation-for="QtySchk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyMchk" class="control-label"></label>
                    <input asp-for="QtyMchk" class="form-control" />
                    <span asp-validation-for="QtyMchk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyLchk" class="control-label"></label>
                    <input asp-for="QtyLchk" class="form-control" />
                    <span asp-validation-for="QtyLchk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceSbac" class="control-label"></label>
                    <input asp-for="PriceSbac" class="form-control" />
                    <span asp-validation-for="PriceSbac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceMbac" class="control-label"></label>
                    <input asp-for="PriceMbac" class="form-control" />
                    <span asp-validation-for="PriceMbac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceLbac" class="control-label"></label>
                    <input asp-for="PriceLbac" class="form-control" />
                    <span asp-validation-for="PriceLbac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceSsal" class="control-label"></label>
                    <input asp-for="PriceSsal" class="form-control" />
                    <span asp-validation-for="PriceSsal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceMsal" class="control-label"></label>
                    <input asp-for="PriceMsal" class="form-control" />
                    <span asp-validation-for="PriceMsal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceLsal" class="control-label"></label>
                    <input asp-for="PriceLsal" class="form-control" />
                    <span asp-validation-for="PriceLsal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceSpep" class="control-label"></label>
                    <input asp-for="PriceSpep" class="form-control" />
                    <span asp-validation-for="PriceSpep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceMpep" class="control-label"></label>
                    <input asp-for="PriceMpep" class="form-control" />
                    <span asp-validation-for="PriceMpep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceLpep" class="control-label"></label>
                    <input asp-for="PriceLpep" class="form-control" />
                    <span asp-validation-for="PriceLpep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceSmus" class="control-label"></label>
                    <input asp-for="PriceSmus" class="form-control" />
                    <span asp-validation-for="PriceSmus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceMmus" class="control-label"></label>
                    <input asp-for="PriceMmus" class="form-control" />
                    <span asp-validation-for="PriceMmus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceLmus" class="control-label"></label>
                    <input asp-for="PriceLmus" class="form-control" />
                    <span asp-validation-for="PriceLmus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceSche" class="control-label"></label>
                    <input asp-for="PriceSche" class="form-control" />
                    <span asp-validation-for="PriceSche" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceMche" class="control-label"></label>
                    <input asp-for="PriceMche" class="form-control" />
                    <span asp-validation-for="PriceMche" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceLche" class="control-label"></label>
                    <input asp-for="PriceLche" class="form-control" />
                    <span asp-validation-for="PriceLche" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceSchk" class="control-label"></label>
                    <input asp-for="PriceSchk" class="form-control" />
                    <span asp-validation-for="PriceSchk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceMchk" class="control-label"></label>
                    <input asp-for="PriceMchk" class="form-control" />
                    <span asp-validation-for="PriceMchk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceLchk" class="control-label"></label>
                    <input asp-for="PriceLchk" class="form-control" />
                    <span asp-validation-for="PriceLchk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pizzaTypeBac" class="control-label"></label>
                    <input asp-for="pizzaTypeBac" class="form-control" />
                    <span asp-validation-for="pizzaTypeBac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pizzaTypeSal" class="control-label"></label>
                    <input asp-for="pizzaTypeSal" class="form-control" />
                    <span asp-validation-for="pizzaTypeSal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pizzaTypePep" class="control-label"></label>
                    <input asp-for="pizzaTypePep" class="form-control" />
                    <span asp-validation-for="pizzaTypePep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pizzaTypeMus" class="control-label"></label>
                    <input asp-for="pizzaTypeMus" class="form-control" />
                    <span asp-validation-for="pizzaTypeMus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pizzaTypeChe" class="control-label"></label>
                    <input asp-for="pizzaTypeChe" class="form-control" />
                    <span asp-validation-for="pizzaTypeChe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pizzaTypeChk" class="control-label"></label>
                    <input asp-for="pizzaTypeChk" class="form-control" />
                    <span asp-validation-for="pizzaTypeChk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="customerId" class="control-label"></label>
                    <input asp-for="customerId" class="form-control" />
                    <span asp-validation-for="customerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="orderId" class="control-label"></label>
                    <input asp-for="orderId" class="form-control" />
                    <span asp-validation-for="orderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="totalPrice" class="control-label"></label>
                    <input asp-for="totalPrice" class="form-control" />
                    <span asp-validation-for="totalPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
